app/local.php

# After your first big deploy and all of your files are already
# on your web host you could uncomment the following items
# app/wp-content/uploads/
# app/wp-admin
# app/wp-includes

# You could also list the indidivual WordPress system files that
# live in the root of our folder, for example, here are just a few
# app/index.php
# app/license.txt


# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
# scss/
*.swp
*.iws
.idea
.htaccess
*.iml
out
gen
node_modules/


