.contact-us {
  text-align: center;
  .title {
    margin: 10px auto 40px;
    h1 {
      text-align: center;
      padding-bottom: 0;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-size: 22px;
      font-weight: 700;
    }
  }
}