@font-face {
    font-family: "MigrenaGrotesque-Regular";
    src: url("../fonts/MigrenaGrotesqueRegular.eot"); /* IE9 Compat Modes */
    src: url("../fonts/MigrenaGrotesqueRegular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/MigrenaGrotesqueRegular.otf") format("opentype"), /* Open Type Font */
    url("../fonts/MigrenaGrotesqueRegular.svg") format("svg"), /* Legacy iOS */
    url("../fonts/MigrenaGrotesqueRegular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/MigrenaGrotesqueRegular.woff") format("woff"), /* Modern Browsers */
    url("../fonts/MigrenaGrotesqueRegular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}