.partners{
    padding-top: 90px;

    &__img{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: auto;

        img{
            // margin: 0 auto;
        }
    }

    // @media screen and (min-width: 1240px) {
    //     .container-fluid {
    //       padding: 0 6rem 0 6rem;
    //     }
    //   }
}