.payment-page {
	.contact-detales {
		// .context{
		//     font-size: 18px;
		// }
		.about-information {
			display: flex;
			justify-content: space-between;

		}

		.contact, .ship-to, .method {
			color: #737373;
		}

		.contact, .method {
			padding-right: 15px;
		}

		.ship-to {
			padding-right: 25px;
		}

		.change {
			padding-left: 20px;
		}

		.context-shipping {
			text-transform: uppercase;
			padding-right: 15px;
		}

		.free:before {
			color: black;
			content: ".";
			position: absolute;
			transform: translate(-20px, -5px);
			padding-left: 10px;
		}

		ul {
			margin-left: 0;
			padding-left: 0;
			display: flex;
			justify-content: flex-start;
			margin-bottom: 0;

			li {
				list-style-type: none;
			}
		}

		padding: 10px 10px 10px 10px;;
		font-size: 18px;
		margin: 5px 0;
		outline: none;
		border: solid 1px #cdd0d4;
		border-radius: 5px;
		background-color: white;

	}

	.shipping__form {
		.card-information {
			display: flex;
			flex-direction: column;
			padding: 15px;
			background-color: #fafafa;
			border-left: solid 1px #cdd0d4;
			border-right: solid 1px #cdd0d4;

			.cart-number {
				background: url('../img/icons/lock.png') no-repeat right 10px center;
				background-color: white;
				background-size: 20px;
			}

			.security-code {
				background: url('../img/icons/question.png') no-repeat right 10px center;
				background-color: white;
				background-size: 20px;
			}
		}

		input {
			padding: 10px 10px 10px 10px;
		}

		.label {
			margin-top: 20px
		}

		span {
			color: #505152;
			padding-bottom: 20px;
		}

		.billing-address, .payment-variation {
			display: flex;
			flex-direction: column;
			padding: 7px 10px 7px 10px;
			font-size: 18px;
			margin: 5px 0;
			outline: none;
			border: solid 1px #cdd0d4;
			border-radius: 5px;
			background-color: white;
			margin-bottom: 20px;

			hr {
				width: 100%;
			}


			span {
				padding-top: 5px;
				padding-right: 10px;
			}

			.input-checkbox-radio {

				label {
					color: black

				}
			}
		}

		.billing-address {
			.input-checkbox-radio {
				padding-left: 10px;
				padding-right: 10px;
			}

		}

		.payment-variation {

			.pay-pal {
				label {
					content: " ";
					background: url('../img/icons/logo-paypal.png') no-repeat right 5px center;
					width: 90px;
					height: 22px;
				}
			}

			.credit-card {
				background: url('../img/icons/logo-visa-master-amex.png') no-repeat right 5px center;
				outline: 0;
				background-size: 125px;
				background-color: white;
				margin-top: 0;
				padding-top: 10px;

			}
		}

		.payment-variation__top {
			border-radius: 5px 5px 0px 0px;
			margin-bottom: 0;

		}

		.payment-variation__bottom {
			border-radius: 0px 0px 5px 5px;
			margin-top: 0;

		}

	}

	.down-width {
		max-width: 3.33333%;

		.vertborder {
			height: 108%;
			position: absolute;
			top: -7.5%;
			padding-left: 40px
		}
	}

	.chechout-bottom {
		margin-top: 60px;
	}

	.cart .cart-shipping p {
		font-weight: bold;
		font-size: 18px;
		color: black;
	}

	@media screen and (max-width: 1199px) {

		.contact-detales {
			ul {
				li {
					font-size: 16px;
				}
			}
		}

	}
	@media screen and (max-width: 991px) {

		.contact-detales {
			ul {
				li {
					font-size: 18px;
				}
			}
		}

	}
	@media screen and (max-width: 767px) {

		.contact-detales {
			.change {
				padding-left: 0;
			}

			.about-information {
				flex-direction: column;
			}

			ul {
				flex-direction: column;
			}
		}

	}


	.payment-cart {
		padding-left: 15px;

		@media (max-width: 991px) {
			padding-left: 0;
		}

		&__inner {
			display: flex;
			justify-content: space-between;

			@media (max-width: 575px) {
				flex-direction: column;
			}

			.cart-icon {
				&-count {
					width: 35px;
					height: 35px;
					border-radius: 100%;
					background-color: #808080;
					text-align: center;
					position: absolute;
					z-index: 3;
					transform: translate(200%, -50%);

					span {
						color: white;
						font-size: 20px;
					}

				}

				&-img {
					width: 90px;
					height: 80px;
					background-color: white;
					position: relative;
					border: solid 0.8px #cdd0d4;
					border-radius: 5px;
					z-index: 2;

					img {
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%);
						z-index: 1;
						max-height: 100%;
					}
				}
			}

			.cart-description {
				padding-left: 20px;
				padding-right: 15px;

				@media (max-width: 575px) {
					padding-left: 0;
					padding-top: 20px;
					padding-right: 0;
				}

				span {
					font-size: 20px;
					text-transform: uppercase;
					font-weight: bold;
				}

				p {
					color: #6a6c6f;
					font-size: 15px;
					text-transform: uppercase;
					line-height: 1.2;
				}
			}

			.s2s-total-price {
				font-size: 20px;
				text-transform: uppercase;
				font-weight: bold;
				margin: auto 0;
			}
		}

		.shipping__form {
			.row-5-1 {
				display: grid;
				grid-template-columns: 73% 25%;
				justify-content: space-between;

			}

			.btn-cart {
				padding: 10px 0;
				margin: 5px 0;
				background-color: #bdc0c5;
			}

		}

		.subtotal, .cart-shipping, .total {
			display: flex;
			justify-content: space-between;

			span {
				font-size: 18px;
			}
		}

		.subtotal {

			.s2s-total-price {
				font-size: 20px;
				text-transform: uppercase;
				font-weight: bold;
			}
		}

		.cart-shipping {
			p {
				color: #6a6c6f;
			}
		}

		.total .s2s-total-price, .s2s-title-total-price {
			font-weight: bold;
		}

	}

}