*{}
.single-product {
	margin-top: 215px;
    min-height: 500px;
}
.single-product .row {
	display: flex;
}
.single-product .left-column {
    width: calc(73% - 5px);
    margin-right: 2%;
   
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: minmax(auto, 335px) fit-content;
    grid-column-gap: 20px;
    overflow: hidden;
    max-width: 944px;
}
.single-product .right-column {
	width: 25%;	
}

.photos-nav-block {
	grid-row: 1/3;
}
.photos-block {

}
.photos-block img{
	width: 100%;
}

.variables {
	width: 40%;
    margin: 0 auto;  
}
.variables img {
	margin-top: 25px;
}
.variables .unvaluable {
	opacity: .5;
}
.variables .active {
	border: 1px solid #222;
}


.right-column h1 {
	font-size: 1.625em;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.right-column h2 {
	font-size: 1.375em;
    line-height: 1.3;
    font-weight: 700;
    margin-bottom: 20px;

    grid-column: 1;
}
.right-column .price {
	color: #9fa4a5;
    font-size: 22.4px;
    font-weight: 700;
    grid-column: 1;
}
.right-column .variant-name {
	font-size: 14px;
	text-transform: lowercase;
	margin-top: 5px;
	grid-column: 1;
}
.right-column .rating {
	display: flex;
	grid-column: 1;
}
.right-column .rating a {
	margin-left: 15px;
	color: #000;
	grid-column: 1;
}
.right-column .info-product {
	margin-top: 12px;
}
.right-column .info-product ul{
	margin-bottom: 10px;
    margin-left: 15px;
    padding: 0
}
.right-column .info-product li {
    font-size: 14px;
    font-weight: 100;
    line-height: 1.5;
    margin-bottom: 0;
}
.right-column .share {
	display: flex;
	flex-wrap: wrap;
}
.right-column .share span{
	width: 72%;
	background-color: rgb(231, 76, 60);
    border-color: rgb(231, 76, 60);
    color: rgb(255, 255, 255);
    line-height: 30px;
    margin-right: 5px;
    position: relative;
    vertical-align: middle;
    background: rgb(231, 76, 60);
    border-radius: 2px;
    padding: 0px 6px 0px 8px;
}
.right-column .share a{
	width: 30%;
	margin-right: 3%;
	color: #fff;
	font-size: 14px;
    line-height: 16px;
    margin-top: 10px;
    padding: 6px 10px;
    border-radius: 3px;
    opacity: .9;
    transition: .3s;
}
.right-column .share a:hover {
    opacity: 1
}
.right-column .share a i{
	margin-right: 6px;
	font-size: 12px;
}
.right-column .share .facebook{
	background: rgb(59, 89, 152);
}
.right-column .share .twitter{
	background: rgb(69, 176, 227);
}
.right-column .share .envelope{
	background: rgb(149, 165, 166);
}
.right-column .btn {
	width: 100%;
	text-align: center;
	background: #bbb;
	margin-top: 15px;
	margin-bottom: 15px;
	transition: .3s;
	color: #3c3c3c;
}
.right-column .btn:hover {
	opacity: .7;
}

@media screen and (max-width: 768px){
	.single-product .left-column {
	    width: 100%;
	    margin-right: 0;

	    display: grid;
	    grid-template-columns: 100%;
	    grid-template-rows: auto auto;
	    overflow: hidden;
	}
	.photos-nav-block {
		display: none;
	}
	.single-product .right-column {
		width: 100%;
	}

	.right-column {
		margin-top: 35px;
	}
}