.shipping-info-page {
	h2 {
		position: relative;
		margin: 20px 0 50px;
		padding-bottom: 0;
		font-size: 22px;
		letter-spacing: 3px;
		text-align: center;
		text-transform: uppercase;
		font-weight: 900;
	}
	.body-of-page {
		h4 {
			text-transform: uppercase;
		    font-size: 16px;
		    letter-spacing: 1.5px;
		    font-weight: bold;
		    color: #000;
		    margin-bottom: 25px;
		}
		div {
			margin-top: 30px;
		}
		.ship {
			.underline{
				text-decoration: underline;
			}
			ul {
				padding: 0;
				margin: 0;
				li {
					display: grid;
					grid-template-columns: 0.8fr 1fr 1fr;
					max-width: 525px;
					grid-gap: 10px;
					align-items: baseline;
					list-style: none;
					min-height: 60px;
				    letter-spacing: 0.5px;
				    span {
				    	margin-right: 2%;
				    }
					img {
						height: 35px;
					}
				}
			}
		}
		.return {
			h4 {
				text-transform: none;
				margin-bottom: 15px;
			}
			li {
				line-height: 30px;
			}
		}

	}
}
@media screen and (max-width: 425px) {
	.shipping-info-page .body-of-page .ship ul li img {
		margin: 10px 0;
	}
}