*{}
body {
	background: #fff;
}
.single-product .features {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-top: 60px;
	justify-content: space-around;
    border-bottom: 1px solid #d8d8d8;
    padding: 0 15px;
}
.single-product .feature {
	display: flex;
	padding-bottom: 30px;
	margin: 0 5px;
}
.single-product .feature span {
	text-transform: uppercase;
	font-size: 9.8px;
    letter-spacing: 1.5px;
}
.single-product .feature i {
	margin-right: 5px;
}
.reviews {
	width: 100%;
}
.reviews .section-1 {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
}
.rating {
	align-items: center;
}
.section-1 .rating .stars {
	margin: 0 5px 0 15px;
}
.section-1 .rating span {
	font-weight: 800;
    font-size: 22px;
    line-height: .95;
    letter-spacing: .8px;
}
.section-1 .rating p {
	margin-bottom: 0;
}
.section-1 .rating {
	margin-top: 30px;
	margin-right: 10px;
}
.add-review .btn {
	margin-top: 30px;
	width: auto;
    background: #2f74ff;
    padding: 8px 20px;
    color: #fff;
}
.add-review .btn:hover{
	width: auto;
    background: rgba(208,208,208,1);
    padding: 8px 20px;
    color: #fff;
}


.section-2 {
	margin-top: 25px;
}
.total-of-stars a {
	font-size: 14px;
    display: inline-block;
    width: 60px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    color: rgba(0,0,0,0.5);
    transition: .2s;
}
.total-of-stars a:hover {
	color: rgba(0,0,0,0.8);
}
.ssw-review-bar {
    background-color: #ededed;
    height: 4px;
    width: 180px;
    display: inline-block;
    vertical-align: middle;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin-right: 2px;
    cursor: pointer;
}
.ssw-review-bar .ssw-review-progress {
    height: 4px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #FEC601;
    width: 0;
}

.recomends-list {
	margin-top: 30px;
}
.recomends-item {
	border-top: 1px solid #f1f1f1;
	padding: 0 0 8px;
}
.recomends-item:first-child{
	border: none;
}
.recomends-item .head-of-item {
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
	font-size: 14px;
}
.head-of-item .author-info {
	display: flex;
	justify-content: space-between;
}
.head-of-item .icon {
	margin-right: 15px;
	position: relative;
}
.head-of-item .icon span {
	position: relative;
    height: 48px;
    width: 48px;
    line-height: 48px;
    font-size: 19px;
    padding: 10px 15px;
    border-radius: 100%;

    color: #fff;
    font-weight: 800;
}
.head-of-item .icon i {
	position: absolute;
    bottom: 5px;
    left: 30px;
    color: #fff;
    font-size: 7px;
    padding: 3px;
    background: #00af00;
    border-radius: 100%;
}
.head-of-item a {
	color: rgba(0,0,0,0.5);
	transition: .2s;
}
.head-of-item a:hover{
	color: rgba(0,0,0,0.7);
}
.date-of-recomend span {
	color: rgba(0,0,0,0.5);
}

.body-of-item {
	margin-top: 15px;
}
.body-of-item .text p {
	margin-bottom: 0;
    color: rgba(0,0,0,0.6);
}
.body-of-item .likes {
	text-align: right;
}
.likes {
	opacity: .4;
	transition: .2s;
}
.likes:hover {
	opacity: .7;
}
.likes a {
	color:#000;
}
.load-more {
	width: 100%;
	text-align: center;
	padding: 10px 15px 0;
	color: #000;
}
.load-more a {
	color: #7b7b7b;
	transition: .3s;
}
.load-more a:hover {
	opacity: .7;
}
.fa-star {
	color: #ffdc2e;
}
.page-breadcrumb {
	margin-top: 115px;
	margin-bottom: 15px;
}
.page-breadcrumb a {
	opacity: 1;
	transition: .3s;
	color: #080808;
    font-size: .75em;
}
.page-breadcrumb a:hover {
	opacity: .7;
}
.page-breadcrumb a:after {
	font-family: "Font Awesome 5 Free";
  	font-weight: 900;
  	content: "\f101";
	margin: 0 5px 0 10px;
	font-size: 10px;
}
.page-breadcrumb a:last-child::after {
	content: '';
}


.comments {
	width: 100%;
}
.comments .title span {
    font-weight: 800;
    font-size: 22px;
    line-height: .95;
    letter-spacing: .8px;
}
.comments .title {
	margin-bottom: 15px;
    border-bottom: 3px solid #ddd;
    padding-bottom: 10px;
    width: 100%;
}
.comments .body-of-comments .no-comments{
	background: rgb(248, 248, 248);
	padding: 3px 6px;
}
.comments .body-of-comments .no-comments p {
	margin: 5px; 
	font-size: 14px;
	font-weight: 400;
}
.comments .body-of-comments .no-comments a {
	color: rgba(0,0,0,0.4);
	transition: .2s;
}
.comments .body-of-comments .no-comments a:hover{
	color: rgba(0,0,0,0.5);
}
.right-column .share > span:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-left-color: inherit;
    border-width: 5px;
    margin-top: -5px;
}

#AddToCartText {
	color: #fff;
}
.soc-share {
	width: 100%;
	display: flex;
}
@media screen and (max-width: 960px) {
	.single-product .row {
		margin: 0;
	}
}
.variables .slick-slide {
	height: 59px;
    display: flex !important;
    align-items: center;
}
