.video {
	padding: 90px 0 0 0;
}

.story {
	h1 {
		margin: 50px auto 40px;
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 32px;

		@media (min-width: 768px) {
			font-size: 40px;
			margin: 3.125rem auto 12.5rem auto;
		}
	}

	h2 {
		margin-top: 1.875rem;
		margin-left: 3.125rem;
		text-transform: uppercase;
		font-weight: bold;
		text-align: center;
	}

	p {
		font-size: 1.375rem;
		line-height: 1.6;
		margin: 1.25rem 2.5rem 0.875rem 1.875rem;
	}

	button {
		margin-top: 1.25rem;
		margin-left: 1.875rem;
		padding: 0.7rem 1.2rem 0.7rem 1.2rem;
		background-color: #040f4f;
		border: none;

		a {
			color: rgb(153, 152, 152);
		}

		a:hover {
			color: white;
		}
	}

	img {
		margin: 0 auto;
	}

	@media screen and (max-width: 1199px) {
		p {
			font-size: 1.2rem;
			line-height: 1.3;
			margin: 1.25rem 2.5rem 0.875rem 1.875rem;
		}

		h2 {
			margin-top: 0;
			font-size: 1.8rem;
		}
	}

	@media screen and (max-width: 991px) {
		p {
			font-size: 1.375rem;
			line-height: 1.6;
			margin: 1.25rem 0 0.875rem 0;
			text-align: center;
		}

		h2 {
			margin-top: 1.875rem;
			margin-left: 0;
			font-size: 2rem;
			text-align: center;
		}
		button {
			margin: 0 auto;
			margin-top: 1.25rem;
			display: flex;
		}
	}
}

